<template>
  <div class="container-fluid">
    <div class="d-flex flex-column">
      <div class="d-flex justify-content-center mx-auto my-4">
        <img src="~assets/images/mediumlogo.png" width="50" height="50" />
      </div>
      <div class="row">
        <div class="col-4 d-flex">
          <div class="d-flex flex-column mx-auto">
            <img
              src="~assets/images/mediumlogo.png"
              class="bl-rounded"
              width="200"
              height="200"
            />
            <div class="d-flex flex-column my-3 bioSide">
              <h4 class="fw-bold mb-0">Emin Fidan</h4>
              <span class="mt-1">@eminfidan</span>
              <p class="mt-3">
                Hi! I'm Emin. Im here to tell about tech, dev...
              </p>
            </div>
            <div class="d-flex flex-column">
              <div class="d-flex align-items-center mb-3">
                <i class="fab fa-instagram fs-4 text-primary"></i>
                <span class="ms-2">Instagram</span>
              </div>
              <div class="d-flex align-items-center mb-3">
                <i class="fab fa-twitter fs-4 text-primary"></i>
                <span class="ms-2">Twitter</span>
              </div>
              <div class="d-flex align-items-center mb-3">
                <i class="fab fa-linkedin-in fs-4 text-primary"></i>
                <span class="ms-2">LinkedIn</span>
              </div>
              <div class="d-flex align-items-center mb-3">
                <i class="fab fa-youtube fs-4 text-primary"></i>
                <span class="ms-2">Youtube</span>
              </div>
              <div class="d-flex align-items-center mb-3">
                <i class="fas fa-globe fs-4 text-primary"></i>
                <span class="ms-2">Website</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-8 productSide">
          <div class="d-flex flex-column mx-auto">
            <div
              v-for="article in articles"
              :key="article._id"
              class="d-flex flex-column my-5 border-bottom"
            >
              <div class="d-flex">
                <!-- <img
                  src="~assets/images/gamer-desktop.jpg"
                  class=""
                  width="100"
                  height="75"
                /> -->
                <div class="coverImage">{{ article.coverImage }}</div>
                <div class="d-flex flex-column my-auto ms-3">
                  <p class="fw-bold">{{ article.title }}</p>
                  <p class="content">{{ article.description }}</p>
                  <p>{{ format_date(article.createdAt) }}</p>
                </div>
                <div class="d-flex my-auto ms-auto align-items-center">
                  <nuxt-link
                    class="btn btn-primary text-white"
                    :to="{
                      name: 'articles-id',
                      params: { id: article._id },
                    }"
                    >Read More</nuxt-link
                  >
                  <nuxt-link
                    class="btn btn-transparent shadow-none"
                    :to="{
                      name: 'update-article',
                      params: { id: article._id },
                    }"
                  >
                    <i class="fas fa-edit text-warning"></i>
                  </nuxt-link>
                  <button
                    class="btn btn-transparent shadow-none"
                    @click="deleteArticle(article._id)"
                  >
                    <i class="fas fa-trash-alt text-danger"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import moment from 'moment'

export default {
  name: 'ArticlesPage',
  data() {
    return {
      articles: [],
    }
  },
  created() {
    this.getArticles()
  },
  methods: {
    getArticles() {
      this.$API.article
        .getArticleList()
        .then((response) => {
          this.articles = response.data
        })
        .catch((error) => {
          window.console.log(error)
        })
    },
    deleteArticle(articleId) {
      this.$API.article
        .deleteArticle(articleId)
        .then(() => {
          this.getArticles()
        })
        .catch((error) => {
          window.console.log(error)
        })
    },
    format_date(value) {
      if (value) {
        return moment(value).format('DD.MM.YYYY')
      }
    },
  },
}
</script>
<style lang="scss" scoped>
@import '~assets/sass/pages/home.scss';
.content {
  white-space: nowrap;
  width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.coverImage {
  white-space: nowrap;
  width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
}
</style>
