<template>
  <div>
    <main class="wrapper">
      <section class="meta">
        <p class="title">{{ article.title }}</p>
        <div class="author">
          <div class="about">
            <div>
              <p class="author_name">{{ article.author }}</p>
              <p class="post_date_readtime">
                {{ format_date(article.createdAt) }}
              </p>
            </div>
          </div>
        </div>
      </section>

      <section class="content text-break">
        {{ article.description }}
      </section>
    </main>
  </div>
</template>

<script>
import moment from 'moment'

export default {
  name: 'ArticleDetail',
  data() {
    return {
      article: [],
    }
  },
  created() {
    this.getArticle()
  },
  methods: {
    getArticle() {
      this.$API.article
        .getArticle(this.$route.params.id)
        .then((response) => {
          this.article = response.data
          window.console.log(response)
        })
        .catch((error) => {
          window.console.log(error)
        })
    },
    format_date(value) {
      if (value) {
        return moment(value).format('DD.MM.YYYY HH:MM')
      }
    },
  },
}
</script>

<style></style>
