<template>
  <div>
    <form @submit.prevent="createArticle()">
      <div class="mb-3">
        <label for="exampleInputPassword2" class="form-label"
          >Cover Image</label
        >
        <input
          type="text"
          class="form-control"
          v-model="coverImage"
          id="exampleInputPassword2"
        />
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword3" class="form-label">Title</label>
        <input
          type="text"
          class="form-control"
          v-model="title"
          id="exampleInputPassword3"
        />
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword4" class="form-label"
          >Description</label
        >
        <textarea
          id="w3review"
          v-model="description"
          name="w3review"
          rows="4"
          cols="50"
        >
            At w3schools.com you will learn how to make a website. They offer free tutorials in all web development technologies.
        </textarea>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</template>

<script>
export default {
  name: 'CreateArticlePage',
  data() {
    return {
      author: '',
      coverImage: '',
      title: '',
      description: '',
    }
  },
  methods: {
    createArticle() {
      const data = {
        author: this.author,
        coverImage: this.coverImage,
        title: this.title,
        description: this.description,
      }
      this.$API.article.createArticle({ ...data }).then(() => {
        this.$router.push({ name: 'articles' })
      })
    },
  },
}
</script>

<style></style>
