<template>
  <div class="container-fluid">
    <div class="d-flex flex-column">
      <div
        class="d-flex flex-column align-items-center justify-content-center mx-auto my-5"
      >
        <img src="~assets/images/mediumlogo.png" width="100" height="100" />
        <h1 class="my-5">WELCOME</h1>
        <nuxt-link to="/articles" class="btn btn-primary my-3"
          >Read Articles</nuxt-link
        >
        <nuxt-link to="/create-article" class="btn btn-primary mb-3"
          >Write Article</nuxt-link
        >
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'IndexPage',
}
</script>

<style></style>
