<template>
  <div class="container-fluid vh-100">
    <div class="d-flex flex-column">
      <div class="container-fluid flex-column mt-5 confirmPage">
        <div class="d-flex justify-content-center mt-5 py-5">
          <div
            class="signUp brd-rounded d-flex flex-column justify-content-center bg-white shadow"
          >
            <div class="mx-auto my-auto">
              <form @submit.prevent="register">
                <h1>Sign Up</h1>
                <div class="d-flex flex-column">
                  <div class="d-flex flex-column mt-3">
                    <label for="email">Email</label>
                    <input id="email" v-model="email" type="text" />
                  </div>
                  <div class="d-flex flex-column mt-3">
                    <label for="username">Username</label>
                    <input id="username" v-model="username" type="text" />
                  </div>
                  <div class="d-flex flex-column mt-3">
                    <label for="password">Password</label>
                    <input id="password" v-model="password" type="text" />
                  </div>
                  <button class="btn btn-primary mt-3" type="submit">
                    Sign Up
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'SignUp',
  data() {
    return {
      email: '',
      username: '',
      password: '',
    }
  },
  methods: {
    async register() {
      try {
        await this.$axios.post('/user/register', {
          email: this.email,
          username: this.username,
          password: this.password,
        })

        await this.$auth
          .loginWith('local', {
            data: {
              username: this.username,
              password: this.password,
            },
          })
          .then(() => this.$router.push('/'))
      } catch (error) {
        window.console.log(error)
      }
    },
  },
}
</script>

<style lang="scss" scoped>
.container-fluid {
  background-color: #1a202c;
}
.signUp {
  padding: 5%;
  border-radius: 15px;
}
</style>
