<template>
  <div>
    <form @submit.prevent="updateArticle($route.params.id)">
      <div class="mb-3">
        <label for="exampleInputPassword2" class="form-label"
          >Cover Image</label
        >
        <input
          id="exampleInputPassword2"
          v-model="coverImage"
          type="text"
          class="form-control"
        />
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword3" class="form-label">Title</label>
        <input
          id="exampleInputPassword3"
          v-model="title"
          type="text"
          class="form-control"
        />
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword4" class="form-label"
          >Description</label
        >
        <input
          id="exampleInputPassword4"
          v-model="description"
          type="text"
          class="form-control"
        />
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</template>

<script>
export default {
  name: "UpdateArticlePage",
  data() {
    return {
      coverImage: "",
      title: "",
      description: "",
    };
  },
  methods: {
    updateArticle(articleId) {
      const data = {
        coverImage: this.coverImage,
        title: this.title,
        description: this.description,
      };
      this.$API.article.updateArticle(articleId, { ...data }).then(() => {
        this.$router.push({ name: "articles" });
      });
    },
  },
};
</script>

<style></style>
